@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Cairo", Arial, Helvetica, sans-serif;
}

.p-input-icon-right > .p-inputtext {
  padding-right: 7.9rem !important;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
